<div class="container">
<script>
var stat=function(id,status){
	document.getElementById(id).value=status;
}
var upd=function(id){
	var val=document.getElementById(id).value;

	$.ajax({
		type:'POST',
		url: '/task/update',
		data: $.param( {id:parseInt(id)}),
		dataType: "json",
		success: function(data){
			alert(parseJSON(data));
		}});
	alert("Update Successfull");
}
</script>





	<div class="add_task">
		<div class="row" >
			<div class="col-md-6 col-md-offset-3">
				<%= form_for (@task) ,url: task_path(@task) ,:action => "task#new" do |f| %>
 				<strong>Next Task</strong><%= f.text_field :description,class: 'form-control' %>
 					<%= f.hidden_field :status,class: 'form-control',value:"undone" %>
 					&nbsp; <%= f.submit "Add to Task list" ,class: 'btn btn-primary' %>
 				<% end %>	
 			</div>
		</div>
	</div>
	<br /><br />

	<div class="jumbotron list_task">
			<table class="table table-hover">
			<tr>
				<td> <strong>  Task To Complete</strong> </td>
				<td> <strong> Status </strong></td>
				<td></td>
			</tr>
				<% if @task_array!=nil %>
					<% @task_array.each do |t| %>

						<% if t.status=="done" %>
							<tr style="text-decoration:line-through">
						<%else %>
							<tr>
						<%end%>
						
						<td> <%= t.description %> </td>

						<td><select id="<%= t.id %>" onchange= upd("<%= t.id %>") >
							<option value="done"> Done</option>
							<option value="undone"> Not Done</option>
							</select></td>

						<script>
						stat("<%= t.id %>","<%= t.status %>");
						</script>
						
						
						
						<td> <%= button_to "Delete", {:action => 'delete', :id => t.id} ,class: "btn btn-danger" %></td>
					
						</tr>
		
					<% end %>
				<% end %>
			
			
		</table>
	</div>
</div>



